apiVersion: 1
datasources:
  - name: Loki
    type: loki
    url: http://loki:3100
    isDefault: true

  - name: PostgreSQL
    type: postgres
    url: postgres:5432
    database: vulnsentinel_test
    user: vulnsentinel
    secureJsonData:
      password: vulnsentinel
